body {
    background-color: rgb(128, 140, 255);
}

.container {
    position: relative;
    top: 100px;
    background-color: whitesmoke;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

 .btn:hover {
    color: blueviolet;
}

.card-title {
    color: blueviolet;
}

h5 {
    color: blueviolet;
}